<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peter.moon.mapper.UserMapper">

    <!-- 查询所有用户 -->
    <insert id="bulkCreateUsers">
        INSERT INTO auth_user(username, cn_name, email, password)
        VALUES
        <foreach collection="users" item="user" separator =",">
            (#{user.username}, #{user.cnName}, #{user.email},  #{user.password})
        </foreach >
    </insert>

</mapper>